body {
	padding-top: 50px;
}

h1 {
	text-align: center;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.carousel-inner .item img {
	height: 600px;
	width: fill;
}

.header-text {
    position: absolute;
    top: 20%;
    left: 1.8%;
    right: auto;
    width: 96.66666666666666%;
    color: #fff;
}

.header-text h1 {
	font-size: 4.5em;
}

.header-text h2 {
	font-size: 3em;
}

.header-text h3 {
	font-size: 2em;
}
