body {
	padding-top: 50px;
}

h1 {
	text-align: center;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.carousel-inner .item {
	width: auto;
	height: 600px;
}

.carousel-innter .item img {
	max-height: 100%;
	height: auto;
	width: auto;
}